body {
    background-color: white;
  }
  
  h1 {
    color: #d3670f;
    text-align: "justify";
  }
  
  p {
    font-family: sans-serif;
    font-size: 80px;
  }

#contact{
  
  color:white;
  font-family: 'Merriweather', serif;
}
.foot-icon{
  margin:1%;
}