<style>



header {


background-image :  linear-gradient(to left, WHITE,#87CEFA);
  padding-top: 60px;
  text-align: left;
  font-size: px;
  color: #00008B;
  height:150px;
padding-left:30px;
margin-left:-20px;
margin-right: -px;

}
  .grid-container1 {
    display: grid;
grid-template-columns:850px 200px;
grid-template-rows: 200px 250px 250px 200px 200px; 
  row-gap: 20px;
 column-gap:30px;
   padding:40px;

     

  }
  .grid-container1 > div {
    border: 1px solid white;
    background-color: white ;
    border-radius: 2px;
  box-shadow: 2px 2px 2px 2px #888888;


  }
.div1 {
  width: px;
  height: 190px;
  border: 
padding:20px;
text-align:justify;

}

.div2 {
  width: 200px;
  height: 300px;  
  padding:10px;
  border: 
}
.div3{
 border: white;

}
table, th, td {
  
float:right;
}
#contact{
width:1315px;
height:200px;
margin-left:  -1000px;
margin-right: -100px;
margin-top: 500px;

}